{
  "extends": "@istanbuljs/nyc-config-typescript",
  "all": true,
  "exclude": [
    ".next",
    "babel.config.js",
    "tests/*.spec.ts",
    "src/pages/_document.tsx",
    "src/pages/api/**",
    "src/components/employee/**",
    "src/components/manager/**",
    "src/dbService/**"
  ],
  "reporter": ["html", "text", "lcov"],
  "report-dir": "./coverage",
  "check-coverage": true,
  "include": ["src/**/*.tsx", "src/**/*.ts"],
  "extension": [".ts", ".tsx"],
  "sourceMap": true,
  "instrument": true
}
