{
  "extends": "nyc-config-tsx",
  "all": true,
  "exclude": [".next", "babel.config.js", "tests/*.spec.ts", "src/pages/api/**/*.ts", "src/pages/api/**/*.tsx"],
  "reporter": ["html", "text", "lcov"],
  "report-dir": "./coverage",
  "check-coverage": true,
  "include": ["src/**/*.tsx", "src/**/*.ts"],
  "extension": [".ts", ".tsx"],
  "sourceMap": true,
  "instrument": true
}
